<div class='frontmatter'>
	<div class='wrapper'>
		<h1>
			about.
		</h1>
		<div>
			<img id='logo' src="/assets/logo.png" />
			<div class='fm-content'>
				<p>
					Hi! I am a graduate student studying MSc. Computer Science at <a href="https://stanford.edu/">Stanford University</a>, specializing in artificial intelligence (AI) and human-computer interaction (HCI).
				</p>
				<p>
					Prior to that, I was in the pioneer batch of the <a href="https://urbanscience.sutd.edu.sg/">MSc. Urban Science, Policy and Planning</a> program at the <a href="https://www.sutd.edu.sg/">Singapore University of Technology and Design</a>. As my final project under the supervision of <a href="https://www.sunsunlim.com/">Prof. Lim Sun Sun</a>, I designed an online primer to algorithmic bias - <a href="https://machinesgonewrong.com">Machines Gone Wrong</a>.
				</p>
				<p>
					I also spent about two years as an AI researcher working on topics including privacy,  meta-learning and adversarial attacks.
				</p>
				<p>
					Contact me at sweekiat &lt;at&gt; stanford &lt;dot&gt; edu.
				</p>
			</div>
		</div>
		<div style='margin: auto; width: 100px;'>
			{%- include social.html -%}
		</div>
	</div>
</div>