<div class='frontmatter'>
	<div class='wrapper'>
		<h1>
			about.
		</h1>
		<div>
			<img id='logo' src="/assets/face.png" />
			<div class='fm-content'>
				<p>
					Hi! I am a graduate student studying MSc. Computer Science at <a href="https://stanford.edu/">Stanford University</a>. My recent work includes the <a href="https://github.com/greentfrapp/lucent">Lucent</a> library, contributions to the <a href="https://almond.stanford.edu/">Almond</a> assistant at Stanford Open-source Virtual Assistant Lab (<a href="https://oval.cs.stanford.edu/">OVAL</a>), improving the protein folding pipeline at the <a href="https://proteindesign.org">Protein Design Lab</a> and an online primer to algorithmic bias - <a href="https://machinesgonewrong.com">Machines Gone Wrong</a>.
				</p>
				<!-- <p>
					Prior to that, I was in the pioneer batch of the <a href="https://urbanscience.sutd.edu.sg/">MSc. Urban Science, Policy and Planning</a> program at the <a href="https://www.sutd.edu.sg/">Singapore University of Technology and Design</a>. As my final project under the supervision of <a href="https://www.sunsunlim.com/">Prof. Lim Sun Sun</a>, I designed an online primer to algorithmic bias - <a href="https://machinesgonewrong.com">Machines Gone Wrong</a>.
				</p> -->
				<p>
					I also spent two years as an AI researcher in Singapore working on topics including privacy, meta-learning and adversarial attacks.
				</p>
				<p>
					Contact me at sweekiat &lt;at&gt; stanford &lt;dot&gt; edu.
				</p>
			</div>
		</div>
		<div style='margin: auto; width: 100px;'>
			{%- include social.html -%}
		</div>
	</div>
</div>