<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}
    <script>
      console.log('test')
      const person = {
        name: "Obaseki Nosa",
        location: "Lagos",
      }
      window.localStorage.setItem('user', JSON.stringify(person))
      console.log(JSON.parse(window.localStorage.getItem('user')))
    </script>
  </body>

</html>
